.settings--item {
   height: 50;
   margin: 5;
   width: 95%;
   padding: 3 10;
   
   border-radius: 3;
   border-width: 0.5;
   border-style: solid;
   border-color: lightgray;
}

.settings--label {
   padding-left: 10;
   font-weight: bold;
}
.settings-value {
   padding-right: 20;
   font-size: 8;
}