DockLayout.setting {
   height: 80;
   padding: 0 10;
}

Button.warning {
   background-color: red;
}

Button.disabled {
   background-color: lightgray;
}

.title {
   font-size: 18;
   font-weight: bold;
}

.highlightbox--blue {
   width: 90%;
   background-color: lightblue;
   padding: 10;
   margin: 10;
}

.bgd--blue {
   background-color: lightblue;
}