<ActionBar title="Lookup Reading"></ActionBar>

<GridLayout rows="5*,*,*,3*">
   <ScrollView row="0">
      <StackLayout>
         <Label class="reading" *ngFor="let reading of getReading()" [text]="reading.title" (tap)="goToURL(reading.url)"></Label>
      </StackLayout>
   </ScrollView>
   <GridLayout *ngIf="blIsDateExpanded" class="bdTop" row="1" columns="*,3*,*">
      <Button col="0" class="icon expand" [text]="getExpandIcon()" (tap)="expandDate()"></Button>
      <Label col="1" class="fullwidth" [text]="getStatusDisplay()"></Label>
   </GridLayout>
   
   <Label *ngIf="blIsDateExpanded" row="2" class="h2" text="Choose a starting date"></Label>
   <DatePicker *ngIf="blIsDateExpanded" row="3" [(ngModel)]="bSelectedDate"></DatePicker>
</GridLayout>